@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

button {
  height: 50px;
  width: 400px;
  background-color: rgb(241, 241, 241);
  border: 2px solid rgb(98, 176, 228);
  font-size: 1.1em;
  color: dimgray;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}

section {
  width: 85vw;
  max-width: 600px;
  margin: auto;
  display: grid;
  place-items: center;
  gap: 5px;
}

.hidden {
  display: none;
}

#submit-section {
  margin: 30px auto 100px;
}

h3 {
  margin-top: 0;
}

.question-container {
  padding: 20px;
  border-top: 1px solid black;
}

.answers-container {
  display: grid;
  place-items: center;
  gap: 5px;
}

.selected-answer {
  background-color: rgba(255, 166, 166, 0.555);
}

.correct-answer {
  background-color: rgb(159, 224, 159);
}

#next-question-btn,
.topic-btn,
#play-again-btn {
  background-color: rgb(98, 176, 228);
  color: white;
  width: 200px;
}
