@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/*
GLOBAL SELECTORS
*/
header {
  padding: 10px;
}

section {
  width: 100%;
  max-width: 600px;
  padding-bottom: 10px;
  min-height: 470px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/*
HEADER SECTION
*/
#current-topic {
  color: rgb(98, 176, 228);
}

/*
TOPICS SECTION
*/
#topics-section > * {
  margin-bottom: 20px;
}

/*
QUESTIONS SECTION
*/
#questions-section {
  justify-content: space-between;
}

.question-container {
  padding: 0 20px;
  border-top: 1px solid black;
}
.question-container h3 {
  padding: 10px 0;
}

/*
ANSWERS SECTION
*/
.answers-container {
  display: grid;
  place-items: center;
  gap: 5px;
}

.selected-answer {
  background-color: rgba(255, 166, 166);
}

.correct-answer {
  background-color: rgb(159, 224, 159);
}

.hidden {
  display: none;
}

/*
BUTTONS
*/
button {
  height: auto;
  min-height: 60px;
  width: 100%;
  padding: 10px;
  background-color: rgb(241, 241, 241);
  border: 2px solid rgb(98, 176, 228);
  border-left: none;
  border-right: none;
  font-size: 1.1em;
  color: dimgray;
  cursor: pointer;
  outline: none;
}

#next-question-btn,
.topic-btn,
#play-again-btn {
  background-color: rgb(98, 176, 228);
  color: white;
  width: 200px;
}

#next-question-btn,
#play-again-btn {
  margin-top: 30px;
}
